body {
    margin: 0;
    overflow: hidden;

    width: 100svw;
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: black;
}

#names {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

pre {
    margin: 0;
}

canvas {
    box-sizing: border-box;
    border: 2px solid #aaaaaa;
}

#join-data {
    position: absolute;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#name {
    background: transparent;

    border: 0;
    border-bottom: 2px solid #aaaaaa;
    outline: 0;

    color: #aaaaaa;
    font-size: 2rem;
}

#color {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}